<!--// CSC237
// Aliaksandra Hrechka
// 02/03/2020-->
@model PiesListViewModel

<h1>@Model.CurrentCategory</h1>
<!--Looping through the pies-->
@foreach (var pie in Model.Pies)
{
    //partial tag helper:
    <partial name="_PieCard" model="pie" />
}
